* {
	font-family: 'Lato', sans-serif;
}
.green {
	color: #d1d72c;
	display: inline;
}
.btn-green {
	color: #fff;
	background-color: #d1d72c;
}
.btn-green::hover {
}
.load {
    opacity: 1 !important;
}

.navbar a {
	color: #b2b2b2;
}
.navbar a::hover {

}
.navbar-brand {
	padding: 8px 15px;
}
.navbar-right {
	padding-top: 12px;
}

.jumbotron {
	background: url("../assets/images/background.png");
	background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.jumbotron h1 {
	background-color: rgba(0,0,0,0.4);
	color: #fff;
	font-size: 32px;
	font-weight: bold;
	padding: 7px;
	opacity: 0;
    -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in;
}
.jumbotron p {
	color: #fff;
	line-height: 200%;
	padding-top: 40px;
}

